
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; outline: none;}

body{line-height:normal; font-size:60%; background:#000;} /*---- 1.0 em = 10px---*/

h1, h2, h3, h4, h5, h6{font-size:100%;}

ul{list-style: square}

/*----------------------RESET--------------------*/

		body {
		background-image: url('zebra.png');
		background-repeat:no-repeat; 
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
		}


/*----------------------DIVS--------------------*/

.global-div{position:absolute; display: block; width:100% ; height: auto;
margin: auto; margin-left: 0px; margin-bottom: 10px; padding: 0 0 0 0; background-repeat: no-repeat; padding: 0 0 0 0;}
			background-image: url('zebra.png'); padding:0 0 0 0;}
.topo-div	{width:600px; height:300px; background-color:rgb(5, 24, 42); }
.dir-div	{width:1000px; height:600px; background:rgb(255, 255, 255);	padding:10px 5px 10px 5px; opacity:0.8 }
.esq-div	{width:auto; height:600px; background:#C00034;  margin-right:0px; margin-bottom: 0px; padding:10px 5px 10px 5px; text-align:left;}
.largo-div	{width:600px; height:auto; background:lightgray;	padding:10px 5px 5px 5px}
.rodape-div	{position: fixed; left:0; bottom:0; width:100%; height:auto; background:rgb(5, 24, 42); color:#fefefe; margin-top:0px;margin-bottom: 0px;}
.dir-div, .esq-div{position:relative; float:left;}

/*----------------------DIVS--------------------*/	
		
		td{font-family: Arial; font-size: 11pt;}	
	

h1 {	font-family: times;	font-size:30px;	color:white;	text-align: left; line-height: 2} /*background-color: #F0862C;*/	
		h2 {	font-family: arial;	color: #05182A;	font-size:20;	position:relative;	left:30px;	}
		h3 {	font-family: arial;	color: #0C0C0C;	font-size:18;	font-style: italic;	position: relative;	left: 50px;	}
		h4 {	font-family: arial;	color: lightblue;	font-size:16;	font-style: italic;	position: relative;	left: 50px;	}
		p {	color: black;	font-family: arial;	font-weight: normal;	font-size: 16px;	position: relative;	left: 10px;	max-width:95%;	}
		pq {	color: black;	font-family: arial;	font-weight: normal;	font-size: 13;	position: relative;	left: 5px;	max-width:97%;	}
		p3 {	color: green;	font-family: arial;	font-weight: normal;	font-size: 16;	position: relative;	left: 20px;	max-width:85%;	}
		p1 {	color: black;	font-family: arial;	font-weight: normal;	font-size: 14;	position: relative;	left: 55px;		}
		p2 { font-family: arial;	color: #fffcfc;	font-weight: normal;	font-size: 12; }


ul.menu01{margin:0;padding:0;list-style-type:none;display:block;
font:bold 14px Arial;line-height:165%;
width:180px;}

ul.menu01 li{margin:0;padding:0;border-top:0px solid #A8C0DC;
border-bottom:10px solid #F9FAFD;}

ul.menu01 li a{display:block;text-decoration:none;color:#201713;
background:#d3d2cb;padding:0 0 0 20px;width:160px;}

ul.menu01 li a:hover{color:#aaa3a3; background:#38312d;}

ul.menu01 li a.current,ul.menu01 li a.current:hover{
background:#F1F5FA;}		

		#tabform
	{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 		border-collapse:collapse;	}
		#tabform td, #tabform th 
	{font-size:1em;		border:1px solid rgb(86, 86, 100);		padding:3px 7px 2px 7px;	}
		#tabform th 
	{	font-size:1.1em;	text-align:center;	padding-top:5px;	padding-bottom:4px;	background-color:white;	color:lightblue;	}
		#tabform tr.alt td 
	{	color:#000000;	background-color:#FFFF99;	}
