
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; outline: none;}

body{line-height:normal; font-size:60%; background:#000;} /*---- 1.0 em = 10px---*/

h1, h2, h3, h4, h5, h6{font-size:100%;}

ul{list-style: square}

/*----------------------RESET--------------------*/

		body {
		background-image: url('zebra.png');
		background-repeat:no-repeat; 
		background-attachment: scroll;
		background-position: center;
		background-size: cover;
		}


/*----------------------DIVS--------------------*/

.global-div{position:absolute; display: block; width:100% ; height: auto;
margin: auto; margin-left: 0px; margin-bottom: 0px; padding: 0 0 0 0; background-repeat: no-repeat; padding: 0 0 0 0;}
			background-image: url('zebra.png'); padding:0 0 0 0;}
.topo-div	{width:600px; height:300px; background-color:rgb(5, 24, 42); }
.esq-div	{width:auto; height:600px; background:#C00034;  margin-right:0px; margin-bottom: 0px; padding:10px 5px 10px 5px; text-align:left;}
.largo-div	{width:600px; height:auto; background:lightgray;	padding:10px 5px 5px 5px}
.rodape-div	{position: fixed; left:100px; bottom:0; width:100%; height:auto; background:rgb(5, 24, 42); color:#fefefe; margin-top:0px;margin-bottom: 0px;}
.dir-div, .esq-div{position:relative; float:left;}
.caixa-texto {margin: 0px ; width: 40%; max-width: 10px; border-radius: 0px; padding: 10px; font-size: 40px; line-height: 1.5;}

/*----------------------DIVS--------------------*/	
		
		td{font-family: Arial; font-size: 11pt;}
/*#############################################################################*/		
	
h1 {	font-family: times;	font-size:30;	color:white;	text-align: center; line-height: 2} /*background-color: #F0862C;*/	
		h2 {	font-family: arial;	color: #05182A;	font-size:12;	position:relative;	left:30px;	}
		h3 {	font-family: arial;	color: #0C0C0C;	font-size:11;	font-style: italic;	position: relative;	left: 50px;	}
		h4 {	font-family: arial;	color: lightblue;	font-size:10;	font-style: italic;	position: relative;	left: 50px;	}
		p {	color: black;	font-family: arial;	font-weight: normal;	font-size: 10;	position: relative;	left: 10px;	max-width:95%;	}
		pq {	color: black;	font-family: arial;	font-weight: normal;	font-size: 8;	position: relative;	left: 5px;	max-width:97%;	}
		p3 {	color: green;	font-family: arial;	font-weight: normal;	font-size: 10;	position: relative;	left: 20px;	max-width:85%;	}
		p1 {	color: black;	font-family: arial;	font-weight: normal;	font-size: 9;	position: relative;	left: 55px;		}
		p2 { font-family: arial;	color: #fffcfc;	font-weight: normal;	font-size: 8; }


ul.menu01{margin:0;padding:0;list-style-type:none;display:block;
font:bold 14px Arial;line-height:165%;
width:180px;}

ul.menu01 li{margin:0;padding:0;border-top:0px solid #A8C0DC;
border-bottom:10px solid #F9FAFD;}

ul.menu01 li a{display:block;text-decoration:none;color:#201713;
background:#d3d2cb;padding:0 0 0 20px;width:160px;}

ul.menu01 li a:hover{color:#aaa3a3; background:#38312d;}

ul.menu01 li a.current,ul.menu01 li a.current:hover{
background:#F1F5FA;}		

		#tabform
	{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 		border-collapse:collapse;	}
		#tabform td, #tabform th 
	{font-size:1em;		border:1px solid rgb(86, 86, 100);		padding:3px 7px 2px 7px;	}
		#tabform th 
	{	font-size:1.1em;	text-align:center;	padding-top:5px;	padding-bottom:4px;	background-color:white;	color:lightblue;	}
		#tabform tr.alt td 
	{	color:#000000;	background-color:#FFFF99;	}
	

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  display: inline-block;
  padding: 20px 40px;
  background-color:rgb(5, 24, 42);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.container a:hover {
  background-color: #0056b3;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.frase {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: none;
  text-align: center;
  margin-left: 20px;
}
