
/* Elaborado por Marcelo Pessoa  15 maio 2010  		*/
/* Base no IT_arquivos do SGQ */
/* Vers�o 1.0 criada para homogeneiza��o da interface		*/	

/*#############################################################################*/		

/*----------------------RESET--------------------*/

body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; outline: none;}

body{line-height:1; font-size:62.5%; background:#000;} /*---- 1.0 em = 10px---*/

h1, h2, h3, h4, h5, h6{font-size:100%;}

ul, ol{list-style:none;}

/*----------------------RESET--------------------*/

		body {
		background-image: url('zebra.jpg');
		background-repeat:repeat;}

/*----------------------DIVS--------------------*/
.global-div{position:absolute; display:block; width:980px; height:auto; margin:auto; 
			left:50%; margin-left:-285px;  margin-bottom:980px; 
			background-image: url('zebra.jpg');background-repeat:repeat; padding:0 0 0 0;}
.topo-div	{width:600px; height:55px; background-color:rgb(61, 68, 61); }
.dir-div	{width:285px; height:auto; background:rgb(255, 255, 255);	padding:10px 5px 10px 5px;}
.esq-div	{width:230px; height:auto; background:Gray;  margin-right:10px;	padding:10px 5px 10px 5px}
.largo-div	{width:600px; height:auto; background:lightgray;	padding:10px 5px 5px 5px}
.rodape-div	{width:600px; height:65px; background:black; color:#fefefe; margin-top:7px;}

.dir-div, .esq-div, .rodape-div{position:relative; float:left;}
/*----------------------DIVS--------------------*/	
		
		td{font-family: Arial; font-size: 11pt;}
/*#############################################################################*/		
	
/*-- equivalente no word ao titulo 1 --*/
		h1 {	font-family: times;	font-size:30px;	color:lightblue;	text-align: center;	/*background-color: #F0862C;*/	}
/*-- equivalente no word ao titulo 2 --*/
		h2 {	font-family: arial;	color: lightblue;	font-size:20;	position:relative;	left:30px;	}
/*-- equivalente no word ao titulo 3 --*/
		h3 {	font-family: arial;	color: lightblue;	font-size:18;	font-style: italic;	position: relative;	left: 50px;	}
/*-- equivalente no word ao titulo 4 --*/
		h4 {	font-family: arial;	color: lightblue;	font-size:16;	font-style: italic;	position: relative;	left: 50px;	}
/*-- equivalente no word ao Normal --*/
		p {	color: black;	font-family: arial;	font-weight: normal;	font-size: 16;	position: relative;	left: 10px;	max-width:95%;	}
/*-- equivalente no word reduzido --*/
		pq {	color: black;	font-family: arial;	font-weight: normal;	font-size: 13;	position: relative;	left: 5px;	max-width:97%;	}
/*-- para n�o ser impresso --*/
		p3 {	color: green;	font-family: arial;	font-weight: normal;	font-size: 16;	position: relative;	left: 20px;	max-width:85%;	}
/*-- equivalente no word ao Normal Identado--*/
		p1 {	color: black;	font-family: arial;	font-weight: normal;	font-size: 14;	position: relative;	left: 55px;		}
/* estilo para o Copywright */
		p2 { font-family: arial;	color: #fffcfc;	font-weight: normal;	font-size: 12; }

/* 	MENU - FORMATA��O S  */
/* defini��es gerais de fonte */
ul.menu01{margin:0;padding:0;list-style-type:none;display:block;
font:bold 14px Arial;line-height:165%;
width:180px;}

/* Linha de espa�amento entre os itens do menu: */
ul.menu01 li{margin:0;padding:0;border-top:0px solid #A8C0DC;
border-bottom:5px solid #F9FAFD;}

/* cor quando n�o selecionado font e fundo: */
ul.menu01 li a{display:block;text-decoration:none;color:#201713;
background:#d3d2cb;padding:0 0 0 20px;width:160px;}

/* cor quando selecionado font e fundo: */
ul.menu01 li a:hover{color:#aaa3a3; background:#38312d;}

ul.menu01 li a.current,ul.menu01 li a.current:hover{
background:#F1F5FA;}		
/* DAB78d fundo normal  805B4A selecionado   CCDBF1 */
/*  805B4A letra normal escura */

/*####################################################################################*/
/*formata��o de tabela nome: revis�es*/
		#tabform
	{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; 		border-collapse:collapse;	}
		#tabform td, #tabform th 
	{font-size:1em;		border:1px solid rgb(86, 86, 100);		padding:3px 7px 2px 7px;	}
		#tabform th 
	{	font-size:1.1em;	text-align:center;	padding-top:5px;	padding-bottom:4px;	background-color:white;	color:lightblue;	}
		#tabform tr.alt td 
	{	color:#000000;	background-color:#FFFF99;	}
